/* Tooltip Styles */
.error-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.error-tooltip .tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: #ff4d4d;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  position: absolute; /* Use absolute positioning */
  z-index: 1;
  bottom: 125%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.error-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* New Tooltip Styles */
.tooltip-top {
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Adjust as necessary to place tooltip above */
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  background-color: #ff4d4d;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-trigger:hover .tooltip-top {
  opacity: 1;
}
